body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#main{
    width: 626px;
    margin: 64px auto 32px;
}

#main image{
    margin-bottom: 64px;
}

h1{
    font-family: 'Dosis', sans-serif;
    color: #3F3D56;
    font-size: 32px;
    line-height: 40.45px;
    font-weight: 700;
}

h1 span{
    font-weight: bold;
}

span{
    color: #EE24FF;
}

p{
    color: #828282;
    font-size: 15px;
    line-height: 22px;
}

strong{
    color: #3F3D56;
}

.line{
    width: 391px;
    height: 0;
    margin: 0 auto 16px;
    border: 1px solid #ECEFF2 
}

#footer{
    margin-bottom: 40.83px;
}
#footer a+a{
    margin-left: 42px;
}